* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  padding: 30px;
}
.btn {
  display: flex;
  justify-content: center;
}
button {
  padding: 10px 24px;
  background-color: aqua;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
  background-color: lightseagreen;
}
img {
  height: 300px;
  width: 300px;
  cursor: pointer;
  overflow: hidden;
}
img:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}
.image {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  overflow: hidden;
}
