body {
  text-align: center;
  background-color: rgb(186, 250, 122);
}

.bg-music {
  display: none;
}
.error-music {
  display: none;
}
.top-title {
  display: flex;
  justify-content: center;
}
.top-title img {
  margin-top: 20px;
}
.btn {
  height: 150px;
  width: 150px;
  border-radius: 20%;
  border: 7px solid black;
  margin: 1.2rem;
  cursor: pointer;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.yellow {
  background-color: #f99b45;
}
.red {
  background-color: #d95980;
}
.purple {
  background-color: #819ff9;
}
.green {
  background-color: #63aac0;
}

.flash {
  background-color: white;
}

.userflash {
  background-color: green;
}

button {
  background-color: lightskyblue;
  width: 100px;
  height: 30px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 14px;
}

button:hover {
  background-color: springgreen;
}

@media (max-width: 600px) {
  HTML,
  body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .btn {
    height: 80px;
    width: 80px;
    border: 4px solid black;
  }
}
